.banner
{
    background: var(--azul-degrade);
    color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 30px;
}

.banner__titulo
{
    font-weight: 700;
    font-size: 1.125rem;
}

.banner__texto
{
    font-weight: 500;
    line-height: 20px;
}

.banner__busca
{
    background-color: transparent;
    border: 1px solid var(--background);
    color: var(--background);
    border-radius: 24px;
    padding: 0.8rem 1.3rem;
    width: 100%;
}

.banner__busca::placeholder
{
    font-family: var(--fonte-principal), sans-serif;
    font-style: 0.875rem;
    font-weight: 400;
    text-align: center;
    color: var(--background);
    background-image: url("../img/Pesquisa.svg");
    background-repeat: no-repeat;
    background-position: 1.5rem;
    text-indent: 2rem;
}