@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");

body
{
    background-color: var(--background);
    font-family: var(--fonte-principal), sans-serif;
    font-size: 1rem;
    font-weight: 400;
}